#preload-01 { background: url(VEERETA.png) no-repeat -9999px -9999px; }
#preload-02 { background: url(VEERETAD.png) no-repeat -9999px -9999px; }
#preload-03 { background: url(PDICE1.png) no-repeat -9999px -9999px; }
body
{
background: #feccb1; /* Old browsers */
background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
font-family: 'Squada One', cursive;
font-size: 20px;
}

.double {
  zoom:2;
  transform:scale(2);
  -ms-transform:scale(2);
  -webkit-transform:scale(2);
  -o-transform:scale(2);
  -moz-transform:scale(1.7);
  transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -o-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -webkit-transform-origin:0 0;
}

#stratcontroldiv{
	font-family:tahoma, arial, sans-serif;
	font-size: 14px;
	background-color: gray;
}

.tb10 {
	background-image:url(images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 50px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}

#tempscore{
    font-size: 32px;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 365;
    color:#CC3300;
}

#playerscore{
    font-size: 42px;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 233;
    top: 392;
    color:#CC3300;
}

#aiscore{
    font-size: 42px;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 227;
    right: 0;
    top: 392;
    color:#CC3300;
}

#status{
    font-family: 'Squada One', cursive;
    font-size: 24px;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 405;
    color:#CC0099;
}

.pigface{
	width: 300px;
	height: 460px;
    background:url('IMAGESET.png');
    position:relative;
}

.cent{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.lefteye{
	width: 60px;
	height: 62px;
    background:url('IMAGESET.png') -300px -0px;
	position:absolute;
	right: 120px;
	left: 0px;
	top: 80px;
}
.righteye{
	width: 60px;
	height: 62px;
    background:url('IMAGESET.png') -300px -0px;
	position:absolute;
	right: 0px;
	left: 120px;
	top: 80px;
}

#btveereta{
    width: 75px;
    height: 75px;
    background:url('IMAGESET.png') -225px -492px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 190px;
    left: 0px;
    top: 275px;
    border: 0;
}
#btskip{
    width: 75px;
    height: 75px;
    background:url('IMAGESET.png') -75px -492px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0px;
    left: 190px;
    top: 275px;
    border: 0;
}
#btreset{
    width: 86px;
    height: 32px;
    background:url('IMAGESET.png') -86px -460px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 300px;
    border: 0
}
.loggerbar{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    top: 6px;
    width: 297px;
    height: 20px;
    background-color: green;
    color: white;
    font-size: 16px;
    border-style: ridge;
    border-color: black;
}
.logger{
    position: relative;
    background-color: black;
    text-align: left;
    height: 200px;
    width: 300px;
    overflow-y: scroll;
    color: darkgreen;
    font-family: "Courier New", Courier, monospace, bold;
    font-size: 12px;
    word-wrap: break-word;
    top: 5px;
    bottom: 10px;
    max-height: 200px;
	font-weight: 400
}
.scrollable {
    overflow: scroll;
    
}